.group {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  /* border: 2px solid red; */
}

.headers {
  display: flex;
  justify-content: space-around;
}

.costbuttonHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-top: 10px;
}

.costText {
  padding-right: 10px;
}

.groupHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.costInput {
  margin: 3px;
  border-radius: 5px;
  border: 2px solid #9cafb7;
  padding-left: 5px;
  width: 30%;
}
