.holder {
  /* display: flex; */
}

.buttons {
  display: flex;
  /* width: 50%; */
  justify-content: center;
}

.buttons button {
  background-color: white;
  border: 2px solid #9cafb7;
  border-radius: 10px;
  border: none;
  color: black;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.paymentCalcHeader {
  font-size: 20px;
  width: 100vw;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f6ca83;
  /* padding-left: auto;
  padding-right: auto; */
  border: 3px 0px 3px 0px solid black;

  /* box-shadow: #d0d38f 0px 6px 12px -2px, #d0d38f 0px 3px 7px -3px; */
  color: black;

  text-align: center;
}

.groupHolder {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: black; */
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutMe {
  position: absolute;
  bottom: 5px;
}

.question {
  position: absolute;
  right: 20px;
  top: 20px;
}

.image {
  border-radius: 100%;
}
